*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@import "partials/index";
@import "partials/sobrenosotros";
@import "partials/header";
@import "partials/footer";
@import "partials/productos";
@import "partials/contacto";
@import "partials/preguntasfrecuentes";
@import "partials/queri";
