.preguntas{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    font-size: 25px;
   
}
.preguntauno{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
    margin-bottom: 50px;
}