@media (max-width:950px){
    /* -------------------------------HEADER------------------------------- */
    
    header{
        display: flex;
        justify-content: center;
    }
    nav{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: gray;
        padding: 2rem; 
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        gap: 2rem;
    }
 
    .bolsayperfil{
        padding-right: 25px;
        position: absolute;
        right: 0;
    }
    /* -------------------------------MAIN------------------------------- */
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            width: 100%;
            
        }
        .texto{
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 20px;
            top: 250px;
        }  
        section{ 
            width: 100%;
            background-color: #DEE23B; 
            position: absolute;
            top: 121px;
            text-align: center;
        }
        /*------------------------------- TRES OFERTAS -------------------------------*/
        .tresofertas{
            flex-direction: column;
            height: 650px;
                .loguitos img{
                    width: 80px;
                    height: 80px;
                }
        }
        .nuestrosfavoritos{
            padding: 3rem;
        }
        .nuestrosfav{
            display: flex;
            flex-direction: column;
            align-items:  center;
            .card{
                box-shadow: 1px 1px 1px 1px grey;
                border-radius: 10px;
                width: 330px;
                height: 425px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 18px;
                .h3{
                    position: relative;
                    left: 12px;
                    bottom: 18px;
                    font-size: 16px;
                }
                .img{
                    width: 100px;
                    height: 30px;
                    position: relative;
                    left: 12px;
                }
                .verdetalles{
                    background-color: #DEE23B;
                    border-radius: 10px;
                    font-size: 15px;
                    padding: 6px;
                    border: 0;
                    font-family: 'Poppins', sans-serif;
                    position: relative;
                    left: 1px;
                    top: 0px;
                }
            }
        }
    }
    /* -------------------------------FOOTER------------------------------- */
    footer{
        background-color: #DEE23B;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .suscribete,.contactanos,.nuestrasredes{
            padding: 1.5rem;
        }
    }
    /*-------------------------------CONTACTO-------------------------------*/
    .maincs{
        flex-direction: column;
    }
   /* ---------------------- */
    .preguntas{
        font-size: 19px;
    }
    /* -----------CONTACTO----------- */
    .form{
        width: 90%;
    }
    
}

@media (max-width:390px){
    .sobrenosotros{
        width: 350px;
    }
    /* ------------------ */
    .form{
        width: 80%;
    }
    iframe{
        width: 300px;
        padding-right: 100px;
        height: 300px;
    }
    body{
        border: 1px solid red;
    }
}

